@import url(reset.css);

body {

    padding: 7% 5% 7% 5%; 
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p1 {

    background-color: pink;
    color: blue;
    font-family: serif;
    font-size: 12pt;

}

.p2 {

    background-color: green;
    color: white;
    font-family: fantasy;
    font-size: 14pt;

}